@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&family=UnifrakturMaguntia&display=swap");
:root {
	--bg: #fffcf0;
	--txt: #100f0f;
	--purple: rgb(94, 64, 157);
	--red: rgb(175, 48, 41);
	--blue: rgb(32, 94, 166);
	--cyan: #3aa99f;
	--magenta: #ce5d97;
	--green: #879a39;
	--orange: #da702c;
	--txt-mono: "code-saver", monospace;
}

body {
	background-color: var(--bg);
	max-width: 600px;
	padding: 1rem;
	font-family: var(--txt-mono);
	font-weight: 400;
	color: var(--txt);
}
a {
	color: var(--blue);
}
a:visited {
	color: var(--purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 4rem 0 1rem;
}

p,
ul,
ol {
	margin-bottom: 1.2rem;
}
p {
	line-height: 1.8;
}
li {
	margin: 0.5rem 0;
	line-height: 1.8;
}
hr {
	margin: 32px 0;
	border-top: 1px solid #ddd;
}
blockquote {
	font-family: serif;
	border-left: 2px solid var(--orange);
	margin: 32px 0 0 8px;
	padding-left: 1rem;
}
blockquote p {
	margin-bottom: 0.7rem !important;
	line-height: 1;
}
img {
	height: auto;
	max-width: 100%;
}
header {
	margin-bottom: 4rem;
}
header h1 {
	margin: 0;
}
header h1 a {
	font-family: "UnifrakturMaguntia", monospace;
	font-size: 4rem;
	color: var(--txt) !important;
	text-decoration: none;
}

header h1:hover .thick {
	color: var(--red);
}
.site-header .words {
	font-size: 1rem;
	padding: 0.1rem 0.3rem;
	letter-spacing: 0.3rem;
	color: var(--orange);
}
main {
	padding-bottom: 2rem;
}
.posts {
	text-transform: lowercase;
}
ul {
	margin-left: 0;
	padding-left: 1rem;
	//list-style-position: inside;
}
ul ul {
	padding-left: 1rem;
}
.post-date {
	font-size: 0.8rem;
	margin-top: 32px;
	background: var(--orange);
	padding: 4px;
	display: inline-block;
	color: #fff;
}
.site-footer {
	position: fixed;
	bottom: 1rem;
	color: #fff;
	font-size: 1.5rem;
	padding: 0.2rem 1rem;
	background: var(--txt);
	opacity: 0.7;
}
